
<td>
  <a class="link-offset-2 link-underline link-underline-opacity-0"
   href="{% url 'products:detail' product.id %}">
    <div class="card m-2 " style="width: 18rem;" >
    {% if product.main_img_short %}
    <img src="{{ product.main_img_short.img.url }}" style="height: 20rem;" class="img-card" alt="Main Image">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description|truncatechars:30}}</p>
    </div>
  </div></a>
</td>