{% extends 'base.html' %}

{% block content %}
<div>
<h1 class="my-2">Order details:</h1>
    <ul class="list-group list-group-flush">
        {% for key,value in order%}
            <li class="list-group-item">
                <div><b>{{key}}:</b></div>
                <div>{{value}}</div>
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <h2 class="my-3">Ordered products: </h2>
    <ul class="list-group mb-4">
          {% for product in order.order_products.all %}
                <li class="list-group-item list-group-item-info">
                      <a href="{{product.product_specific.get_absolute_url}}">
                          <div>{{product.product_name}}
                              <div class="d-flex justify-content-end">Amount: {{product.amount}}</div>
                            Price: {{product.product_price}}</div></a></li>
          {% endfor %}
    </ul>
    <p class="fs-3"><b>Total Items: {{order.total_items}}</b></p>
    <p class="fs-3"><b>Total Value: {{order.total_value}}</b></p>
</div>
<button onclick="history.back()" class="btn btn-secondary" type="button">Go back</button>
{% endblock %}