{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Login:</h1>
<div class="mt-4">
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
        <button type="submit" class="btn btn-primary my-4">Login</button>
        <a href="{% url 'pages:home' %}" class="btn btn-secondary">Go back</a>
    </form>
</div>
<div>
    {% if request.GET.next %}
    <a href="{% url 'users:register' %}?next={{request.GET.next}}">
        <button class="btn btn-primary my-1 " type="button">Create account</button>
    </a>
    {% else %}
    <a href="{% url 'users:register' %}">
        <button class="btn btn-primary my-1 " type="button">Create account</button>
    </a>
    {% endif %}
</div>
<div>
    {% if request.GET.order %}
        {% if request.GET.next %}
        <a href="{% url 'users:nologin' %}?next={{request.GET.next}}">Continue without logging in</a>
        {% else %}
        <a href="{% url 'users:nologin' %}">Continue without logging in</a>
        {% endif %}
    {% endif %}
</div>
<div class="my-2">
    <a href="{% url 'users:reset_insert_email' %}">I forgot my password</a>
</div>
{% endblock %}