{% extends 'base.html' %}
{% block content %}
<h1 class="my-4">Your Orders: </h1>
<div class="mt-4">
    {% if orders_list %}
        <div class="list-group">
        {% for order in orders_list %}
            <a href="{% url 'orders:detail' order.id %}"><button type="button" class="list-group-item list-group-item-action list-group-item-info">
                Order number: {{order.id}} {{order.created}} {{order.total_items}} Items Total {{order.total_value}}</button></a>
        {% endfor %}
        </div>
    {% else %}
        <p>No orders found</p>
    {% endif %}
</div>
{% endblock %}