{% extends 'base.html' %}

{% block content %}

    {% for product in products %}
        <div class="card mt-3" style="width: 18rem;">
            {% if product.main_img.main_img.img.url %}
            <img src="{{ product.main_img.main_img.img.url }}" class="card-img-top" alt="Main Image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}