{% extends 'base.html' %}

{% block content %}
    <h1>Cart</h1>
    {% if cart_products %}
    <ul class="list-group">
        {% for object, amount in cart_products %}
          <li class="list-group-item d-flex justify-content-start align-items-center list-group-item-info">
                <span class="flex-grow-1">{{object}} <b>${{object.product.price}}</b></span>
                <span class="badge bg-primary rounded-pill">{{amount}}</span>
                <a href="{% url 'products:add-cart' object.product.id object.id %}"><span class="badge bg-primary rounded-pill">+</span></a>
                <a href="{% url 'products:remove-cart' object.product.id object.id %}"><span class="badge bg-primary rounded-pill">-</span></a>
          </li>
        {% endfor %}
    </ul>
    <div class="mt-4">
    <h2>Total: ${{cart_value}} </h2>
    </div>
    <a href="{% url 'orders:create' %}"><button class="btn btn-primary my-4 " type="button">Order</button></a>
    <a href="{% url 'products:clear-cart' %}"><button class="btn btn-danger my-4 " type="button">Clear cart</button></a>
    {% else %}
    <p>Your cart is empty</p>
    {% endif %}
    <a href="{% url 'pages:home' %}" class="btn btn-secondary">Home</a>
{% endblock %}