<a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'products:detail' product.id %}">
    <div class="card text-bg-secondary mb-3 border-dark" style="width: 18rem;" >
        {% if product.images.first %}
            <img src="{{ product.main_image_object.img.url }}" style="height: 20rem; background-color:white;" class="img-card" alt="Main Image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <div class="card-text fs-6">{{product.description|truncatechars:28}}</div>
            {% if product.discount %}
              <div><s class="fs-7">{{product.price}}</s> <b class="fs-4">{{product.current_price}}</b></div>
              <div>Now {{product.discount}}% cheaper!</div>
            {% else %}
                <div class="fs-4">{{product.price}}</div>
            {% endif %}
            <div class="star-rating"
                 style="background-image: linear-gradient(to right, gold 0%, gold {{product.rating_percentage}}%,
                 transparent {{product.rating_percentage}}%, transparent 100%);"></div>
            <div style="font-size: 12px;">{{product.number_of_ratings}} rating{{ product.number_of_ratings|pluralize }}</div>
        </div>
    </div>
</a>