{% extends 'base.html' %}
{% load humanize %}
{% load replace %}
{% load get_item %}
{% block content %}

    <div class="card mt-5">
      <h5 class="card-header">{{product.name}}</h5>

      <div class="card-body" id ="card">
        <div class="star-rating"
           style="background-image: linear-gradient(to right, gold 0%, gold {{product.rating_percentage}}%,
           transparent {{product.rating_percentage}}%, transparent 100%); font-size: 25px;"></div>
        <div style="font-size: 10px;">{{product.number_of_ratings}} rating{{ product.number_of_ratings|pluralize }}</div>
        <!-- Big Image -->
        {% if product.images.first %}
          <figure>
            <img class="my-2" id='currentImg' src="{{ product.main_image_object.img.url}}" class="img-fluid" alt="Picture">
            <figcaption id='currentText'>{{ product.main_image_object.description }}</figcaption>
          </figure>
        {% endif %}
        {% if product.discount %}
          <div class="mb-3 card-title"> <s class="fs-5">{{product.price}}</s>  <b class="fs-3">{{product.current_price}}</b> </div>
          <div class="fs-5 mb-3" >Now {{product.discount}}% cheaper!</div>
        {% else %}
          <div class="fs-3 mb-3 card-title"> <b>{{product.price}}</b> </div>
        {% endif %}
        <!-- Thumbnails -->
        {% for image in images %}
          {% if image.thumbnail %}
            <!--Add border to the first image.-->
            {% if forloop.first %}
                <img id="thumbnail_{{image.id}}" src="{{image.thumbnail.url}}" class="img-thumbnail main-thumbnail"
                 alt="thumbnail"
                 onclick="showImage('{{image.img.url}}','{{image.description}}','thumbnail_{{image.id}}');">
            {% else %}
                <img id="thumbnail_{{image.id}}" src="{{image.thumbnail.url}}" class="img-thumbnail" alt="thumbnail"
                 onclick="showImage('{{image.img.url}}','{{image.description}}','thumbnail_{{image.id}}');">
            {% endif %}
          {% endif %}
        {% endfor %}
        <!-- Specific attributes -->
        <!-- Form created based on attributes of available specific products, submitted every time attribute value is
         changed, showing available products with selected attributes -->
        <form method="GET" action="#form" id="form" class="my-4">
          {% for attribute, values in attributes.items %}
            <label for="{{attribute}}" class="form-label">{{attribute_names|get_dict:attribute|capfirst|replace:"_"}}:</label>
            <select class="form-select" name="{{attribute}}" id="{{attribute}}" onchange="this.form.submit()">
              <option value="">No selection</option>
              {% for value in values %}
                  <option value="{{value}}" {% selected request.GET attribute value%}>{{value}}</option>
              {% endfor %}
            </select>
          <br>
          {% endfor %}
         <!-- Add to cart button - showed when there are available products with selected attributes -->
          {% if attributes %}
            <button class="btn btn-primary" type="button" onclick="addCart()">Add to cart</button>
          {% endif %}
            <a href="{% url 'products:rate' product.id%}"><button class="btn btn-primary" type="button">Rate product</button></a>
          {% if request.GET %}
            <a href="{{request.path}}"><button class="btn btn-secondary" type="button">Reset selections</button></a>
          {% endif %}
          <br>
        </form>
        <p class="card-text my-4">{{product.description}}</p>
        <!-- Naviagtion -->
        <button onclick="history.back()" class="btn btn-secondary" type="button">Go back</button>

        <!-- Comments -->
        {% if comments %}
          <div class="my-3" id="comments">
            <h5 style="display: inline-block;">Product comments:</h5>
              <div class="dropdown float-end" style="display: inline-block;">
                <!-- Ordering-->
                <form action="#comments" id="form2">
                  <select class="form-select" name="order" id="order" onchange="addOrder()" >
                    <option value="" selected>Order by</option>
                    <option value="1">Newest</option>
                    <option value="2">Oldest</option>
                    <option value="3">Highest rating</option>
                    <option value="4">Lowest rating</option>
                  </select>
                </form>
              </div>

            {% for comment in comments %}
              <div class="card my-3">
                <div class="card-header d-flex">
                  <div class="flex-grow-1">{{comment.user}}</div> <div class="justify-content-end">{{comment.created|naturaltime}}</div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Rating: <div class="star-rating"
                     style="background-image: linear-gradient(to right, gold 0%, gold {{comment.value_percentage}}%,
                     transparent {{comment.value_percentage}}%, transparent 100%);"></div></h5>
                  <p class="card-text">{{comment.comment}}</p>
                  {% if comment.user == request.user %}
                    <a href="{% url 'products:rate' product.id%}"><button class="btn btn-secondary" type="button">Edit comment</button></a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>


<!-- Change picture after clicking on thumbnail.-->
<script type="text/javascript">
function showImage(imgPath, imgText, thumbClicked) {
    var curImage = document.getElementById('currentImg');
    var curText = document.getElementById('currentText');
    var thumb = document.getElementById(thumbClicked);
    var all_thumbs = document.getElementById("card").getElementsByClassName("img-thumbnail");
    for (let i = 0; i < all_thumbs.length; i++) {
        all_thumbs[i].classList.remove('border');
        all_thumbs[i].classList.remove('border-info');
    }
    thumb.classList.add('border');
    thumb.classList.add('border-info');
    curImage.src = imgPath;
    curText.innerText = imgText;
 }
</script>

<!--Set main thumbnail after page is loaded.-->
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", () => {
  var mainThumb = document.getElementById("card").getElementsByClassName("main-thumbnail");
  if (mainThumb.length >0) {
    mainThumb[0].classList.add('border');
    mainThumb[0].classList.add('border-info');
    }
});
</script>

<!--Add additional hidden field to form and change action when add to cart is clicked.-->
<script type="text/javascript">
function addCart(){
  var form = document.getElementById('form');
  const hiddenField = document.createElement('input');
  hiddenField.type = 'hidden';
  hiddenField.name = 'add_cart';
  hiddenField.value = '1';
  form.appendChild(hiddenField);
  document.body.appendChild(form);
  form.action = '#';
  form.submit()
}
</script>

<script>
  function addOrder(){
  var order = document.getElementById('order');
  var currentURL = window.location.href;
  var queryString = window.location.search;
  var newParams = new URLSearchParams(queryString);
  newParams.set('order', order.value);
  var newQueryString = newParams.toString();
  var newURL = currentURL.split('?')[0] + '?' + newQueryString + '#comments';
  window.history.replaceState(null, '', newURL);
  window.location.reload();
}
</script>
{% endblock %}
